{% extends 'base.html' %}

{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce...</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <p align="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Duis lectus ligula, mollis cursus aliquet at, sagittis eu nisi.
                            Nullam auctor, risus et tincidunt accumsan, nibh justo cursus quam,
                            eget aliquet sapien massa non purus. Donec sagittis tellus dolor,
                            eu porta nisl sagittis suscipit.
                            Mauris in leo quis lectus pellentesque molestie non non purus.
                            Cras eu felis fringilla, convallis neque ac, maximus tellus.
                            Vestibulum vulputate elit nec ante sagittis dictum.
                            Aliquam molestie nulla at fermentum sodales.
                            Aliquam elementum neque ultrices libero eleifend laoreet.
                            Nullam et orci at orci euismod sodales.
                            Mauris sollicitudin augue eu gravida laoreet.
                            Etiam sed faucibus tortor, a tempus augue.
                            Ut blandit arcu et massa laoreet accumsan.
                            <br/><br/>
                            Cras pellentesque nisi velit, bibendum laoreet neque commodo ut.
                            Fusce sagittis risus in ante finibus aliquam. Quisque risus velit,
                            tincidunt sed varius a, tempus eget massa. Vivamus maximus augue viverra,
                            rutrum lectus sed, ultricies odio. Nullam molestie nisi vel est lobortis ultrices.
                            Praesent ultrices vulputate venenatis. Donec dui est, tempus vitae fringilla et,
                            lobortis at nulla. Suspendisse mi nibh, dictum eget faucibus ac, pretium quis ante.
                            <br/><br/>
                            Vivamus eget tortor a magna hendrerit auctor. Pellentesque vestibulum eu arcu in ornare.
                            Duis ornare aliquet odio at tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Ut nec neque interdum, sollicitudin libero nec, finibus lacus. Curabitur aliquam nulla iaculis,
                            porta nulla in, laoreet dolor. Proin nec aliquam odio. In ac felis ac felis ullamcorper viverra sit amet nec nisi.
                            Fusce ut purus ac risus placerat commodo sed quis velit. Phasellus eleifend tincidunt velit,
                            a porta erat hendrerit vitae. Nulla aliquet lacinia urna eu pharetra. Maecenas pulvinar ligula gravida nibh ultricies,
                            consectetur gravida velit sollicitudin. Integer ornare massa sit amet ante sagittis mollis.
                            Sed turpis ligula, pharetra et arcu sit amet, fermentum fringilla urna. Nulla sed placerat felis,
                            vitae bibendum erat.
                        </p>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}